@tailwind base;
@tailwind components;
@tailwind utilities;

.spin {
    animation: spin 0.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
.leaflet-container{
height: 500px;
border: 2px solid black;
}